.blog-article {
    margin-top: 100px;
}

.blog-article__time {
    display: block;
    margin-bottom: 40px;
    font-family: var(--content-font);
}

.blog-article__content p {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 32px;
    margin: 20px 0;
}

.blog-article__header-image {
    height: 300px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.blog-article__header-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
