.article-card {
  border: 1px solid var(--article-card-border-color);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.article-card:hover {
  transform: scale(1.02);
}

.article-card__category {
  color: var(--primary-color);
}

.article-card__title {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
  color: var(--font-color)
}

.article-card__summary {
  margin: 0;
}

.article-card__link {
  text-decoration: none;
}
