.navbar {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.navbar__item {
  font-family: var(--main-font);
  display: inline-block;
}

.navbar__logo {
  font-size: 25px;
  color: var(--gray);
}

.navbar__logo, .navbar__item {
  transition: color 0.3s ease-in-out;
}

.navbar__logo:hover, .navbar__item:hover {
  color: var(--font-color)
}

@media (min-width: 576px) {
  .navbar {
    padding: 20px 0;
  }
}
