/* Google fonts */
/* Barlow condensed - 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Space+Mono&display=swap');
/* Montserrat - 400 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap');

body {
  background-color: var(--body-bg);
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 28px
}

p,
span {
  font-size: 20px;
}

input,
textarea {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow Condensed";
}

a,
span,
p,
time,
label,
button,
input,
textarea {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4 {
  color: var(--font-color)
}

p,
span,
a,
li,
i,
time,
label {
  color: var(--gray);
}


@media (min-width: 960px) {
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 1140px) {
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container-xl {
    max-width: 1140px;
  }
}

[class^="container"].center {
  margin: 0 auto;
}

.link {
  text-decoration: none;
}
