:root {
  /* fonts */
  --main-font: "Barlow Condensed";
  --content-font: "Montserrat";
  
  /* sizes */
  --content-font-size: 16px;
  --content-font-line: 32px;
}

.light-mode {
  /* colors */
  --body-bg: white;
  --font-color: #1c1e26;
  --primary-color: #a54670;
  --gray: #6b7280;
  --article-card-border-color: rgb(28, 30, 38, 0.13);
}

.dark-mode {
  /* colors */
  --body-bg: #262626;
  --font-color: #ffffff;
  --gray: #C9C9C9;
  --primary-color: #BE5E88;
  --article-card-border-color: rgb(255, 255, 255, 0.13);
}
