.blog-article {
    margin-top: 100px;
    padding-bottom: 20px;
}

.blog-article__time {
    display: block;
    margin-bottom: 40px;
}

.blog-article__content {
    margin-bottom: 50px;
}

.blog-article__content p,
.blog-article__content li {
    font: var(--content-font)
}

.blog-article__header-image {
    height: 300px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.blog-article__header-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-article__social-media {
    justify-content: flex-end;
}
